<!doctype html>
<html lang="en" xmlns:th="https://www.thymleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Book Store</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="available_books">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="my_books">My Books</a>
                </li>
            </ul>
            <div>
                <a href="login" class="nav-link text-white">Login</a>
            </div>
            <div>
                <a href="register" class="nav-link text-white">Signup</a>
            </div>
            <div>
                <a class="nav-link text-white " href="book_register">New Book Register</a>
            </div>
        </div>
    </div>
</nav>
<div class="container text-center my-5 position-relative">
    <h1 class="h1">Welcome to Online Book Store!</h1>
    <div>
        <img src="/images/logo.jpg" alt="" class="logo">
    </div>
    <div class="row">
        <div class="col">
            <h7>
                The online bookstore application developed in Spring Boot is a web-based platform designed to enable users
                to browse and purchase books online. The application provides a user-friendly interface that allows customers to
                add new books and read them. Registered users can create and manage their profiles, which store their personal information.
                The online bookstore application is built using the Spring Boot framework, which provides a robust and scalable platform
                for developing enterprise-grade applications. The application leverages various Spring Boot features, including
                Spring Data, Spring Security, and Spring MVC, to implement functionality such as database connectivity, security, and web services.
            </h7>
        </div>
        <div class="col">
            <img src="/images/book.jpg" width="500px" border-radius="10px" class="img">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>